# login info for the webapp itself
APP_USERNAME=your_username
APP_PASSWORD=your_password
SESSION_SECRET_KEY=your_secret_key

# variables for the AWS resources
DYNAMODB_TABLE_NAME=your_dynamodb_table
S3_BUCKET_NAME=your_s3_job_artifacts_bucket
AWS_REGION=your_aws_region